body {
    background-color: rgb(54, 54, 54);
  }

#gameContainer{
    cursor: url(images/cursor.png) 10 10,crosshair;
}

canvas {
    
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}